html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "proxima-nova", sans-serif;
  letter-spacing: .3px;
  color: #525352;
  background-color: #e9ecef; }

.site {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(41, 70, 97, 0.2); }

.main-btn {
  background-color: #05b8bc;
  color: #fff;
  padding: 10px 20px 10px 20px;
  font-weight: bold; }

.main-btn:hover {
  color: #154168; }

a {
  color: inherit;
  text-decoration: none !important; }

h1 {
  color: #154168;
  font-size: 2em; }

h2 {
  color: white;
  font-size: 1.2em; }

h3 {
  color: white;
  font-size: 2.7em;
  text-align: center; }

h4 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300; }

h5 {
  font-weight: bold;
  color: #05b8bc;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px; }

.hr-rule, .hr-rule-left {
  width: 80px;
  border: 0;
  border-top: 5px solid #fad802; }

.hr-divider {
  margin-left: 10%;
  margin-right: 10%; }

.bold-text {
  font-weight: bold; }

/* ------------------------------------------Header Styles ------------------------------------------*/
.top-yellow-bar {
  background-color: #fad802;
  font-size: .85em;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.address {
  margin: 18px 0% 2px 10%; }
  .address a:hover {
    color: #05b8bc; }

.social {
  margin: 10px 9% 0px 10%; }

.social-icon {
  max-width: 40px;
  padding-right: 10px; }

/* -------------------Mobile Head -------------------*/
@media only screen and (max-width: 62em) {
  .top-yellow-bar {
    display: none; } }
/* ------------------------------------------Navigation ------------------------------------------*/
@media only screen and (min-width: 1367px) {
  .mobile_nav {
    display: none; }

  .nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px; }
    .nav ul {
      list-style: none;
      margin-top: 30px;
      margin-right: 9%;
      position: relative;
      display: inline-block; }
    .nav li {
      padding: 10px 20px 10px 20px;
      display: inline-block;
      font-size: .85em; }
    .nav .nav_menuitem:hover {
      color: #05b8bc;
      font-weight: bold;
      letter-spacing: 0; }

  .nav::before, .nav::after {
    content: none; }

  .nav_menuitem {
    padding-bottom: 5px; }

  .selected .nav_menuitem {
    color: #05b8bc;
    font-weight: bold;
    letter-spacing: 0;
    border-bottom: 1.5px solid #fad802; }

  #nav_logo {
    height: 100px;
    margin-left: 10%; }

  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    margin-top: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
    .dropdown-content a {
      padding: 15px;
      min-width: 200px;
      display: block; }
    .dropdown-content a:hover {
      color: #05b8bc;
      font-weight: bold;
      letter-spacing: 0;
      background-color: #e9ecef; }

  .dropbtn:hover .dropdown-content {
    display: block; } }
/* -------------------Mobile Nav -------------------*/
@media only screen and (max-width: 85.375em) {
  .nav {
    display: none; }

  .logo-row {
    display: flex;
    justify-content: space-between; }
    .logo-row span {
      margin-right: 10%;
      margin-top: 50px; }

  #mobile_nav_logo {
    height: 80px;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px; }

  .dropdown-btn {
    width: 30px;
    height: 20px; }

  .mobile_sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e9ecef;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .3s;
    list-style-type: none;
    text-align: left; }
    .mobile_sidenav a {
      transition: 0.5s;
      padding: 20px 10px 20px 10px;
      display: block;
      padding-left: 20px;
      border-bottom: solid .5px white; }
    .mobile_sidenav a:hover {
      color: #05b8bc; }

  .mobile_submenu-1, .mobile_submenu-2 {
    display: none; }
    .mobile_submenu-1 a, .mobile_submenu-2 a {
      background-color: #f9f9f9;
      padding-left: 40px; }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    font-size: 2em;
    border-bottom: none !important; } }
/* ------------------------------------------Interior Page Banner -----------------------------*/
.page-banner {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }

/* ------------------------------------------footer ------------------------------------------*/
.footer {
  background-color: #154168;
  height: 200px; }
  .footer p {
    text-align: center;
    color: white; }
  .footer a:hover {
    color: #05b8bc; }

/* ------------------------------------------Slideshow ------------------------------------------*/
@media only screen and (min-width: 48em) {
  .slideshow img {
    width: 100%; } }
/* ------------Mobile Slideshow ---------*/
@media only screen and (max-width: 48em) {
  .slideshow img {
    width: 100%; } }
/* ------------------------------------------intro ------------------------------------------*/
.intro {
  background-color: #05b8bc;
  text-align: center; }
  .intro a {
    color: white; }
  .intro a:hover {
    color: #154168; }

@media only screen and (min-width: 62em) {
  .intro-column {
    padding: 50px; } }
/* -------------------tablet intro ----------------------*/
@media only screen and (max-width: 62em) {
  .intro-column {
    padding: 20px; } }
/* -------------------mobile intro ----------------------*/
@media only screen and (max-width: 48em) {
  .intro-column {
    border-bottom: solid white .25px;
    padding: 40px 20px 40px 20px; }
    .intro-column h2 {
      margin: 0px !important;
      padding-bottom: 10px; } }
/* ------------------------------------------welcome ------------------------------------------*/
.welcome {
  text-align: center; }
  .welcome p {
    padding: 20px 20px 40px 20px; }

@media only screen and (min-width: 85.375em) {
  .pillars {
    margin: 3% 10% 3% 10%; } }
/* -------------------tablet welcome ----------------------*/
@media only screen and (min-width: 62em) {
  .welcome {
    margin: 3% 10% 3% 10%; }

  .pillars-row {
    display: flex;
    justify-content: center; }

  .pillar-item {
    text-align: left;
    display: flex;
    width: 45%;
    padding: 20px; }

  .pillar-icon {
    height: 150px;
    padding: 0px 20px 0px 20px; } }
/* -------------------mobile welcome ----------------------*/
@media only screen and (max-width: 62em) {
  .welcome {
    margin-top: 100px;
    margin-bottom: 100px; }

  .pillars {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px; }

  .pillar-item {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    margin-top: 75px; }

  .pillar-icon {
    height: 120px;
    padding: 0px 20px 0px 20px; } }
/* ------------------------------------------subscribe ------------------------------------------*/
.subscribe {
  background-color: #b9d575;
  text-align: center;
  padding: 50px 35px 50px 35px; }
  .subscribe p, .subscribe h4 {
    margin-bottom: 30px; }

/* ------------------------------------------Events ------------------------------------------*/
@media only screen and (min-width: 62em) {
  .events {
    margin: 3% 10% 3% 10%;
    display: flex;
    justify-content: space-between; }
    .events .hr-rule {
      display: none; } }
@media only screen and (max-width: 62em) {
  .events {
    margin: 100px 10% 100px 10%; }
    .events h1, .events p {
      text-align: center; }
    .events .events-row {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center; }
    .events .hr-rule-left {
      display: none; } }
.about-section {
  margin-top: 100px;
  margin-bottom: 100px; }
  .about-section h1, .about-section p {
    text-align: center; }
  .about-section h4 {
    padding-bottom: 20px; }
  .about-section a {
    margin-top: 20px; }
  .about-section .centered-btn {
    text-align: center;
    margin-top: 30px; }

.about-text {
  padding-left: 20px;
  padding-right: 20px; }

.about-photo img {
  width: 100%;
  padding: 10px; }

@media only screen and (max-width: 48em) {
  .about-mobile {
    display: flex;
    flex-direction: column-reverse; } }
.staff-member {
  margin-top: 50px;
  margin-bottom: 50px; }
  .staff-member h4 {
    text-align: left !important; }

.staff-photo {
  padding-top: 15px; }
  .staff-photo img {
    width: 100%; }

.grey-background {
  background-color: #e9ecef; }

.staff-questions p {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px; }

.careers {
  margin-left: 10%;
  margin-right: 10%; }
  .careers img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; }

.positions-open {
  margin-top: 30px;
  margin-bottom: 30px; }

.positions-apply {
  margin-bottom: 50px; }
  .positions-apply h4 {
    text-align: left;
    font-weight: bold;
    padding-bottom: 20px; }
  .positions-apply .assessment-btn {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px; }

.perks {
  margin-bottom: 150px; }

.perks-row {
  margin-bottom: 40px; }
  .perks-row .col-sm-4 {
    padding-right: 50px;
    padding-left: 50px; }

.perks-icon {
  max-width: 70px; }

@media only screen and (min-width: 48em) {
  .careers .hr-rule {
    display: none; } }
@media only screen and (max-width: 48em) {
  .careers {
    text-align: center; }
    .careers h4 {
      text-align: center; }
    .careers .hr-rule-left {
      display: none; }
    .careers .perks-row {
      margin-bottom: 0px; } }
.contact-us {
  text-align: center;
  margin-bottom: 75px; }
  .contact-us .col-sm-4 {
    padding-top: 20px; }
  .contact-us a:hover {
    color: #05b8bc; }

#map {
  width: 100%;
  height: 400px; }

/*# sourceMappingURL=main.css.map */
