html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "proxima-nova", sans-serif;
  letter-spacing: .3px;
  color: #525352;
  background-color: #e9ecef; }

.site {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(41, 70, 97, 0.2); }

.main-btn {
  background-color: #05b8bc;
  color: #fff;
  padding: 10px 20px 10px 20px;
  font-weight: bold; }

.main-btn:hover {
  color: #154168; }

a {
  color: inherit;
  text-decoration: none !important; }

h1 {
  color: #154168; }

h2 {
  color: white;
  font-size: 1.2em; }

.horizontal-rule {
  width: 80px;
  border: 0;
  border-top: 5px solid #fad802; }

/* ------------------------------------------Header Styles ------------------------------------------*/
.top-yellow-bar {
  background-color: #fad802;
  font-size: .85em;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.address {
  margin: 18px 10% 2px 10%; }
  .address a:hover {
    color: #05b8bc; }

.social {
  margin: 10px 9% 0px 10%; }

.social-icon {
  max-width: 40px;
  padding-right: 10px; }

/* ------------------------------------------Navigation ------------------------------------------*/
@media only screen and (min-width: 1367px) {
  .mobile_nav {
    display: none; }

  .nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px; }
    .nav ul {
      list-style: none;
      margin-top: 30px;
      margin-right: 9%;
      position: relative;
      display: inline-block; }
    .nav li {
      padding: 10px 20px 10px 20px;
      display: inline-block;
      font-size: .85em; }
    .nav .nav_menuitem:hover {
      color: #05b8bc;
      font-weight: bold;
      letter-spacing: 0; }

  .nav::before, .nav::after {
    content: none; }

  .nav_menuitem {
    padding-bottom: 5px; }

  .selected .nav_menuitem {
    color: #05b8bc;
    font-weight: bold;
    letter-spacing: 0;
    border-bottom: 1.5px solid #fad802; }

  #nav_logo {
    height: 100px;
    margin-left: 10%; }

  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    margin-top: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
    .dropdown-content a {
      padding: 15px;
      min-width: 200px;
      display: block; }
    .dropdown-content a:hover {
      color: #05b8bc;
      font-weight: bold;
      letter-spacing: 0;
      background-color: #e9ecef; }

  .dropbtn:hover .dropdown-content {
    display: block; } }
/* -------------------Mobile Nav -------------------*/
@media only screen and (max-width: 85.375em) {
  .nav {
    display: none; }

  #mobile_nav_logo {
    max-width: 50%; }

  .mobile_sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e9ecef;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .5s;
    list-style-type: none;
    text-align: center; }
    .mobile_sidenav a {
      transition: 0.3s;
      padding: 10px;
      display: block; }
    .mobile_sidenav a:hover {
      color: #05b8bc; }

  .mobile_dropdown_content {
    display: none; }

  .dropdown:hover .mobile_dropdown_content {
    display: block; }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    font-size: 2em; } }
/* ------------------------------------------Slideshow ------------------------------------------*/
.slideshow img {
  width: 100%; }

/* ------------------------------------------intro ------------------------------------------*/
.intro {
  background-color: #05b8bc;
  text-align: center; }
  .intro .col-sm-4 {
    padding: 50px; }
  .intro a {
    color: white; }
  .intro a:hover {
    color: #154168; }

/* ------------------------------------------welcome ------------------------------------------*/
.welcome {
  margin: 3% 10% 3% 10%;
  text-align: center; }
  .welcome p {
    margin: 0% 10% 0% 10%;
    padding: 20px 20px 40px 20px; }

.pillars {
  margin: 3% 10% 3% 10%; }

.pillars-row {
  display: flex;
  justify-content: center; }

.pillar-item {
  text-align: left;
  display: flex;
  width: 45%;
  padding: 20px; }

.pillar-icon {
  height: 150px;
  padding: 0px 20px 0px 20px; }

/* ------------------------------------------subscribe ------------------------------------------*/
.subscribe {
  background-color: #b9d575;
  text-align: center;
  padding: 50px 0px 50px 0px; }
  .subscribe p {
    margin-bottom: 50px; }

/* ------------------------------------------Events ------------------------------------------*/
.events {
  margin: 3% 10% 3% 10%;
  display: flex;
  justify-content: space-between; }

/* ------------------------------------------footer ------------------------------------------*/
.footer {
  background-color: #154168;
  height: 200px; }
  .footer p {
    text-align: center;
    color: white; }
  .footer a:hover {
    color: #05b8bc; }

/*# sourceMappingURL=main.css.map */
